REACT_APP_API_TOKEN=eyJhbGciOiJIUzI1NiIsImtpZCI6IkNhbnZhc1MyU0hNQUNQcm9kIiwidHlwIjoiSldUIn0.eyJhdWQiOiJjYW52YXMtY2FudmFzYXBpIiwiaXNzIjoiY2FudmFzLXMyc3Rva2VuIiwibmJmIjoxNjg5MDg1MjgyLCJzdWIiOiJlNzdkZGI3MS0zMGZiLTQzZDctOTdmZS1jZmVhYWUzYjYwM2N-U1RBR0lOR34xZWI2YmMyZi1lZTJjLTQ2NWUtYThhZC04ZTI2ZDFhYTc5ZjUifQ.XZ0mbsWhep3cWqhKM1YjbLGXb2rio00FyKPBly5niRc
REACT_APP_LENS_ID=40369030925
REACT_APP_LENS_GROUP_ID=a5024f50-aa01-47a9-9a25-336e37d0aeef